@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

html, body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  background-color: #0A0A0B;
  scroll-behavior: smooth;
}